:root {
    --bodybg: #28333f;
    --clockbg: #000000;
    --offcolor: #101010;
    --oncolor: #00f7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bodybg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 380px;
    background-color: var(--clockbg);
    margin-top: -60px;
    justify-content: space-evenly;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 270px;
    background-color: inherit;
    position: relative;
}

.row-float {
    display: flex;
    width: 24px;
    height: 246px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    position: relative;
}

.col-float {
    display: flex;
    width: 81px;
    height: 270px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    position: relative;
}

.row {
    width: 24px;
    height: 98px;
    background-color: var(--offcolor);
    position: relative;
    background-color: var(--color);
    --color: var(--offcolor);
}

.row::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 12px solid var(--color);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    z-index: 9;
}

.row::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 12px solid var(--color);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    z-index: 9;
}

.col {
    width: 80px;
    height: 24px;
    background-color: var(--offcolor);
    position: relative;
    background-color: var(--color);
    --color: var(--offcolor);
}

.col::after {
    content: "";
    position: absolute;
    left: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 12px solid var(--color);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 9;
}

.col::before {
    content: "";
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12px solid var(--color);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 9;
}

.container-dot, .container-times {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 30px;
    height: 380px;
    background-color: var(--clockbg);
    margin-top: -60px;
}

.dot-float {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    height: 280px;
    background-color: inherit;
}

.dot-float .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--offcolor);
}

.container-times {
    width: 95px;
    justify-content: flex-start;
    align-content: flex-end;
    padding-bottom: 70px;
}

#times {
    color: var(--offcolor);
    font-size: 2.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: flex-end;
    user-select: none;
}

#dates {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--offcolor);
    user-select: none;
}
